version: "3.9"

services:
  app:
    build: .
    container_name: kpi_app
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017/mydb
    volumes:
      - ./app:/app
    command: python main.py

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
